# Python cache
__pycache__/
*.py[cod]
*$py.class

# Compiled / shared objects
*.so

# Virtual environments
.Python
env/
venv/
ENV/
.venv/

# IDE / Editor files
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# Streamlit secrets
.streamlit/s
